<!doctype html>

<head>
  <title>Show Search</title>
  <link rel="stylesheet" href = "/styles/reset.css">
  <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>
  <nav>
    <ul id = "hamburger">
      <li>-----</li>
      <li>-----</li>
      <li>-----</li> 
    </ul>
    <h1>Best Books!</h1>
  </nav>

  <main>
    <h2 id = "search-page-title">Search Results</h2>

    <div class = "container2">
    <% books.forEach(book => { %>
      <img src="<%=book.image%>" class = "bookImg">

      <form method = "post" action = "/books">
          <button id = "save-button" type = "submit"><h3>Save This Book</h3></button>
          <input  type = "hidden"  name = "title" value = "<%=book.title%>">
          <input  type = "hidden"  name = "author" value = "<%=book.author%>">
          <input  type = "hidden"  name = "isbn" value = "<%=book.isbn%>">
          <input id = "bookshelf" type= text name = "bookshelf" placeholder = "Enter a Bookshelf" required>
          <input  type = "hidden"  name = "description" value = "<%=book.description%>">
          <input  type = "hidden"  name = "image" value = "<%=book.image%>">


        </form>
        
      <h2> <%= book.title %> </h2>
      <h3> <%= book.author %> </h3>
      <div id = "bookDetails">
        <h3> ISBN: <%= book.isbn %></h3>
        <p> <%= book.description %> </p>

        <hr></hr>
        <div style="clear: both;"></div>
      </div>
    <%})%>
    </div>
  </main>
  <footer>
    <p>&copy 2020, Ashley Casimir and Kim Damalas</p>
  </footer>
</body>
</html>