<!doctype html>

<head>
  <title>AC-KD Book App</title>
  <link rel="stylesheet" href = "/styles/reset.css">
  <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>
  <div class = "container3">
    <h1> Welcome!</h1>
    <img id = "book-pile" src = "/book-pile.jpg">
    <h2> With this app, you can search books by Title or Author</h2>
  
    <div id = "entry-link">
      <a href = "/searches/new" ><h2>Let's Begin</h2></a>
    </div>
  </div>

  <h2>Saved Books!</h2>
  <p> Number of Saved Books: <%=rowResults.length%></p>
    <% rowResults.forEach(book => { %>
      <img src="<%=book.image%>">
      <h2> <%= book.title %> </h2>
      <h3> <%= book.author %> </h3>
      <p> <%= book.description %> </p>
      <p> ISBN: <%= book.isbn %></p>
      <p> Bookshlef: <%= book.bookshelf %> </p>
    <% })%>

</body>
</html>