<!doctype html>

<head>
  <title>AC-KD Book App</title>
  <link rel="stylesheet" href = "/styles/reset.css">
  <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>

<nav>
  <h1>Welcome to Best Books!</h1>
</nav>

  <main>
    <h2 id = "search-page-title"></h2>
  <div class = "container3">
    <div id = "entry-link">
      <a href = "/searches/new" ><h2 >Let's Search</h2></a>
    </div>
    <h2> With this app, you can search books by Title or Author</h2>
    <img id = "book-pile" src = "/book-pile.jpg">
  
    <hr></hr>
    
    <h2>Your Saved Books</h2>
    <h3> Number of Saved Books: <%=rowResults.length%></h3>  
    <div  class = "container2">
      <% rowResults.forEach(book => { %>
        <img src="<%=book.image%>" class = "bookImg">
        <h2> <%= book.title %> </h2>
        <h3> <%= book.author %> </h3>
        <form method = "post" action = "/books/<%=book.id%>">
          <button id = "details-button" type = "submit" name ="<%=book.id%>" value ="<%=book.id%>"><h3>See Details</h3></button>
        </form>

      <div id = "bookDetails">
        <h3> ISBN: <%= book.isbn %></h3>
        <h3> Bookshelf: <%= book.bookshelf %> </h3>
      </div>
      <p> <%= book.description %> </p>
      
      <hr></hr>
      <div style="clear: both;"></div>
      <%})%>
      
    </div>



    </div>
    <div style="clear: both;"></div>
  </div>
  </main>
  <footer>
    <p>&copy 2020, Ashley Casimir and Kim Damalas</p>
  </footer>
  
</body>
</html>